@import url(./index.css);
/* ABOUT SECTION */

#about-intro {
    width: 95vw;
    margin-right: 2rem;
}
#about-container {  
    text-align: left !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    padding-bottom: 10rem;
}

#about-img {
    display: flex;
    width: 500px;
    /* height: auto; */
    background-color: none;
    border-radius: 4px;
    float: left;
    /* margin-right: 4rem;
    margin-bottom: 2rem; */
}

#about-img img {
    width: auto;
    height: 500px;
}

.about-text {
    padding-right: 2rem;    
}

#about-section p {
    margin-top: 0;
    max-width: 70%;
}

.about-bullet {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    font-size: 1.6rem;
    color: white;
    font-family: var(--mono);
}

.about-bullet img {
    height: 100%;
    width: auto;
    /* width: 25px;
    height: 25px; */
    /* padding-right: 1rem; */
}

.about-bullet ul {
    list-style-image: url(../img/cursors/pt1purple.gif);
    padding-left: 3rem;
    margin-top: 0;
}

.about-bullet li {
    font-size: 1.6rem;
    color: white;
    font-family: var(--body);
    font-weight: 500;
    padding-bottom: 0;
}

.about-bullet li:hover {
    cursor: cell;
}

.about-bullet span {
    color: var(--pink);
    font-weight: bold;
    padding-right: 1rem;
    font-size: 2rem;
}

.about-bullet .yr {
    font-family: var(--mono);
    font-size: 1.6rem;
    color: var(--purple);
}

.about-subhead {
    color: var(--blue);
    font-size: 2.4rem;
    font-family: var(--mono);
    font-weight: bold;
}


@media (max-width: 1875px) {
    .about-text {
        max-width: 80vw;
    }
    #about-section p {
        margin-right: 0;
        max-width: 95%;
    }
}


@media (max-width: 1000px) {
    #about-intro {
        width: 97vw;
    }
    .about-text {
        max-width: 90vw;
    }
    .about-section {
        margin-top: 2rem;
    }
    #about-img {
        width: 400px;
        height: auto;
        /* margin-right: 2rem;
        margin-bottom: 2rem; */
    }
}

@media (max-width: 750px) {
    #about-intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .about-section h2 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    p {
        font-size: 1.4rem;
    }
}
