@import url("gordita-cufonfonts-webfont/style.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap');

:root {
    --blue: rgb(68, 133, 231);
    --pink: rgb(252, 151, 218);
    --purple: rgb(202, 29, 245);
    --mint: rgb(97, 243, 219);
    --red: rgb(255, 67, 67);
    --darkblue: rgb(32, 61, 98);
    --background-pink: rgb(44, 0, 33);
    --margin: 10rem;
    --mono: 'IBM Plex Mono', monospace;
    --sans: 'Gordita Bold', sans-serif;
    --body: 'Noto Sans SC', sans-serif;
    overflow-x: hidden;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    margin: 0;
    background-color: rgb(8, 8, 29);
    display: flex;
    justify-content: center;
    padding: 0;
}

h1 {
    color: white;
}

h2 {
    font-family: var(--mono);
    padding-left: var(--margin);
    letter-spacing: -.75rem;
    margin: 0;
    font-size: 3rem;
    text-align: left;
    padding-bottom: 1rem;  
}

h4 {
    font-size: 2rem;
    font-family: var(--body);
    color: white;
    font-weight: 500;
}

#links {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 3;
    text-align: right;
    opacity: 0;
    transition: opacity .5s ease-in 0s;
}

a {
    color: var(--mint);
    text-decoration: none;
    font-family: var(--mono);
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

img {
    height: 100%;
    max-width: auto;
    display: block;
    top: 0;
    left:0;
}

#home {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 3;
}


@media (max-width: 1250px) {
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 3rem;
    }
}

@media (max-width: 1000px) {
    :root {
        --margin: 3rem;
    }
}

@media (max-width: 925px) {
    h1 {
        font-size: 18rem;
        line-height: 18rem;
    }
}

@media (max-width: 750px) {
    h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    a {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 2.5rem;
        letter-spacing: 0;
    }
    h2 {
        font-size: 1.6rem;
        letter-spacing: 0;
    }
}