@import url(index.css);

html {
    display: flex;
    justify-content: left;
}
h2 {
    color: white;
    letter-spacing: normal;
    padding-left: 0;
    padding-bottom: 2rem;
}

#page-container {
    width: 65vw;
    height: auto;
    padding-top: var(--margin);
    margin-left: var(--margin);
    position: absolute;
    top: 0;
    left: 0;
}

.projcols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 80vw;
    margin: 0;
}
.column {
    margin-right: var(--margin);
}

.tags {
    font-size: 1.6rem;
    color: var(--blue);
    font-weight: 300;
    font-family: var(--mono);
    padding-bottom: 5rem;
}

.year {
    font-size: 2rem;
    color: var(--mint);
    font-weight: 300;
    font-family: var(--mono);
}

.img {
    width: 500px;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
}

.body {
    font-family: var(--body);
    font-size: 1.6rem;
    color: white;
    padding-bottom: 1rem;
    word-spacing: .25rem;
    max-width: 500px;
}

.hyperlink {
    font-family: var(--body);
    font-size: 1.6rem;
    color: var(--mint);
    text-decoration: underline;
}

ul {
    list-style-image: url('../img/cursors/pt1.gif');
}

li {
    color: white;
    padding-bottom: 1rem;
}

@media (max-width: 1000px) {
    #page-container {
        width: 100vw;
        padding-top: 10rem;
    }
    .tags {
        padding-bottom: 2.5rem;
    }
}

@media (max-width: 500px) {
    .body {
        font-size: 1.4rem;
    }

    .img {
        width: calc(100vw - 6rem);
    }
}