@import url(index.css);

html {
    display: flex;
    justify-content: left;
}
h2 {
    color: white;
    letter-spacing: normal;
    padding-left: 0;
    padding-bottom: 2rem;
}
#home {
    position: fixed;
    top: 2rem;
    left: calc(65vw + 4rem);
    z-index: 3;
    cursor: pointer;
}

/* #back {
    
} */

#next { 
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 3;
    cursor: pointer;
}

#left-section {
    width: 65vw;
    height: auto;
    background-color: black;
}

#right-section {
    width: calc(100% - 65vw - 6rem);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 2rem;
    padding-top: var(--margin);
    overflow: auto;
}

.tags {
    font-size: 1.6rem;
    color: var(--blue);
    font-weight: 300;
    font-family: var(--mono);
    padding-bottom: 5rem;
}

.year {
    font-size: 2rem;
    color: var(--mint);
    font-weight: 300;
    font-family: var(--mono);
}

.img {
    width: 65vw;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
}

.imgnoborder {
    width: 65vw;
    height: auto;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.body {
    font-family: var(--body);
    font-size: 1.6rem;
    color: white;
    padding-bottom: 1rem;
    margin-right: var(--margin);
}

.hyperlink {
    font-family: var(--body);
    font-size: 1.6rem;
    color: var(--mint);
    text-decoration: underline;
}

.minigallery {
    padding-top: calc(100% - var(--margin));
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

.thumb {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease-in 0s;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease-in;
    background-color: rgba(4, 3, 24, 0.85);
}

.thumb:hover > .overlay {
    opacity: 0;
}

@media (max-width: 1000px) {
    #right-section {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0;
        left: var(--margin);
        padding-top: var(--margin);
    }
    .img {
        width: 100vw;
    }
    #left-section {
        width: 100vw;
        height: auto;
        position: relative;
    }
}