@import url(index.css);

html {
    display: flex;
    justify-content: left;
}
h2 {
    color: white;
    letter-spacing: normal;
    padding-left: 0;
    padding-bottom: 2rem;
}
#home {
    position: fixed;
    top: 2rem;
    left: calc(65vw + 4rem);
    z-index: 3;
}

/* #back {
    
} */

#next { 
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 3;
}

#left-section {
    width: 65vw;
    height: auto;
    background-color: black;
}

#right-section {
    width: calc(100% - 65vw - 6rem);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 2rem;
    padding-top: var(--margin);
}

.tags {
    font-size: 1.6rem;
    color: var(--blue);
    font-weight: 300;
    font-family: var(--mono);
    padding-bottom: 5rem;
}

.year {
    font-size: 2rem;
    color: var(--mint);
    font-weight: 300;
    font-family: var(--mono);
}

.img {
    width: 65vw;
    height: auto;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.body {
    font-family: var(--body);
    font-size: 1.6rem;
    color: white;
    padding-bottom: 1rem;
}

.mini-gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.thumb {
    width: 200px;
    height: 200px;
    position: relative;
    transition: all .25 ease-in 0s;
    overflow: hidden;
}

.thumb:hover {
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    #right-section {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0;
        left: var(--margin);
        padding-top: var(--margin);
    }
    .img {
        width: 100vw;
    }
    #left-section {
        width: 100vw;
        height: auto;
        position: relative;
    }
}