@import './mobile-projects.css';

#page-container {
    padding-top: var(--margin);
    margin-left: var(--margin);
}

.projcols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 100vw;
    margin: 0;
}
.column {
    margin-right: var(--margin);
}

.img {
    width: 100%;
}