/* @import url("https://use.typekit.net/gxy6szy.css"); */

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background-image: url('stars.jpg');
}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.863);
}

@keyframes twinkle {
    0% { background-color: rgba(0,0,0,0); }
    50% { background-color: rgba(255, 255, 255, 0.8);}
    100% { background-color: rgba(0,0,0,0); }
}

.star {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: none;
    border-radius: 50%;
    filter: blur(2px);
    animation: twinkle ease-in-out 10s infinite;
}

/* h1 {
    font-family: 'termina', sans-serif;
    font-weight: 900;
    font-size: 16rem;
    line-height: 14rem;
    text-align: center;
    background: black;
}

.reveal-ctnr {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: none;
}

.reveal {
    position: relative;
    background:none;
}

.reveal::before {
    --size: 400vw;
    cursor: grabbing;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: 200vw;
    height: 200vh;
    background: radial-gradient(circle closest-side,rgb(7, 2, 34), black);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
}

.reveal:hover::before {
    --size: 400vw;
} */

