html {
    font-size: 62.5%;
    height: 100%;
    background-color: rgb(201, 201, 201);
}

body {
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#glass {
    width: 30rem;
    height: 55rem;
    background-color: #e3f8ff;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    z-index: 20;
}

.top {
    position: absolute;
    width: 30rem;
    height: 15rem;
    height: 15rem;
    top: -7.5rem;
    border-radius: 50%;
}

#glass > .top {
    background-color: #f2fcff;
    left: -.1rem;
    border: solid 1px #d9d9d9;
}

#water {
    background-color: #a1f0ff;
    width: 30rem;
    height: 35rem;
    position: relative;
}

#water > .top {
    background-color: #a1f0ff;
    border: solid 1px #89ccd9;
    box-sizing: border-box;
}

#water > .bottom {
    width: 30rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    bottom:-7.5rem;
    box-sizing: border-box;
    background-color: #a1f0ff;
    border: solid 1px #89ccd9;
}

.bubble {
    position: absolute;
    width: .8rem;
    height: .4rem;
    border-radius: 50%;
    opacity: .75;
    background:#FFF;
    border-left: solid 1px #b4b4b4;
    border-bottom: solid 1px #b4b4b4;
    z-index: 20;
    transition: top .5s ease-in-out, opacity .75s ease-in-out;
    transition-delay: 0s, .5s;
}

#bubble-container div.bubble:nth-child(1) {
    left: 24%;
    top: 80%;
}

#bubble-container div.bubble:nth-child(2) {
    left: 63%;
    top: 47%;
}

#bubble-container div.bubble:nth-child(3) {
    left: 77%;
    top: 63%;
}

#bubble-container div.bubble:nth-child(4) {
    left: 9%;
    top: 40%;
}

.bubble-pop {
    top: 0% !important;
    opacity: 0;
}

#table {
    width:125vw;
    height:100vh;
    position: absolute;
    top: 60vh;
    background:#FDe7F3;
    transform: rotateZ(10deg);
}