:root {
    --night-sky: #242236;
    --day-sky: #dcf3fc;
    --moon: #f0efe6;
    --sun: #fde56a;
}

html {
    font-size: 62.5%;
}

#page-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--day-sky);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 5s ease 0s;
}

#sun {
    background-color: var(--sun);
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    transition: all 5s ease 0s;
}

.moon-glow {
    background-color: var(--moon) !important;
    -webkit-box-shadow: 0px 0px 58px 23px rgba(240,239,230,.4);
    -moz-box-shadow: 0px 0px 58px 23px rgba(240,239,230,.4);
    box-shadow: 0px 0px 58px 23px rgba(240,239,230,.4);
}

.sun-glow {
    background-color: var(--sun) !important;
    -webkit-box-shadow: 0px 0px 58px 23px rgba(253,229,106,.6);
    -moz-box-shadow: 0px 0px 58px 23px rgba(253,229,106,.6);
    box-shadow: 0px 0px 58px 23px rgba(253,229,106,.6);
}