html {
    background-color: rgb(52, 118, 216);
    font-size: 62.5%;
    overflow: hidden;
}

@keyframes slide {
    0% {transform: translate(160%, 220%);}
    50% {transform: translate(230%, 160%);}
    100% {transform: translate(160%, 220%);}
}

@keyframes glow {
    0% {background-color: rgba(52, 118, 216,0);}
    50% {background-color: rgb(255, 255, 255);}
    100% {background-color: rgba(0,0,0,0);}
}

.hr-tag {
    animation: spin 4s linear infinite;
}
.firefly {
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    animation-iteration-count: infinite;
}

body .firefly:nth-child(1) {
    /* animation: bug 10s ease-in-out infinite; */
    /* apply both bug and glow animations to the first child */
    left: 10%; 
    top: 15%;
    animation-name: slide, glow;
    animation-duration: 10s, 4s;
}

body .firefly:nth-child(2) {
    /* animation: slide2 12s ease-in-out infinite; */
    animation-name: slide, glow;
    animation-duration: 15s, 4s;
    animation-delay: 3s, 3s;
    left: 80%; 
    top: 5%;

}

body .firefly:nth-child(3) {
    animation-name: slide, glow;
    animation-duration: 13s, 4s;
    animation-delay: 1s, 6s;
    left: 15%; 
    top: 65%;
}

body .firefly:nth-child(4) {
    animation-name: slide, glow;
    animation-duration: 12s, 4s;
    animation-delay: 5s, 8s;
    left: 83%; 
    top: 45%;
}